Node-Red/flows (1).json
[
    {
        "id": "d43fb467d47a24b9",
        "type": "tab",
        "label": "Topic 2.1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "600abdec4f5e90ca",
        "type": "mqtt in",
        "z": "d43fb467d47a24b9",
        "name": "",
        "topic": "ugm/biomedical/telemetry",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f0ed5fb2431ccc3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "aa4da37db6bfa3f7",
                "bc2ddfe956a4a86b",
                "e64f1f16964f6f95",
                "9d5fe128dc707a68",
                "d5c4eedf0fe95a29"
            ]
        ]
    },
    {
        "id": "912466e9635b7394",
        "type": "ui_chart",
        "z": "d43fb467d47a24b9",
        "name": "",
        "group": "1425de3e815bcab9",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "aa4da37db6bfa3f7",
        "type": "change",
        "z": "d43fb467d47a24b9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ecg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 220,
        "wires": [
            [
                "912466e9635b7394",
                "7135113fd1a29d3f"
            ]
        ]
    },
    {
        "id": "7135113fd1a29d3f",
        "type": "debug",
        "z": "d43fb467d47a24b9",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "bc2ddfe956a4a86b",
        "type": "change",
        "z": "d43fb467d47a24b9",
        "name": "ambil suhu ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 420,
        "wires": [
            [
                "413f407bbd16d8b2"
            ]
        ]
    },
    {
        "id": "413f407bbd16d8b2",
        "type": "ui_gauge",
        "z": "d43fb467d47a24b9",
        "name": "",
        "group": "1425de3e815bcab9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Suhu Tubuh",
        "label": "°C",
        "format": "{{value}}",
        "min": "20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "e64f1f16964f6f95",
        "type": "change",
        "z": "d43fb467d47a24b9",
        "name": "jatuh",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.fall",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 480,
        "wires": [
            [
                "99829b5911453683"
            ]
        ]
    },
    {
        "id": "99829b5911453683",
        "type": "ui_text",
        "z": "d43fb467d47a24b9",
        "group": "2f27808e6861d9a6",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "kondisi deteksi jatuh ",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 480,
        "wires": []
    },
    {
        "id": "9d5fe128dc707a68",
        "type": "change",
        "z": "d43fb467d47a24b9",
        "name": "Kondisi AI",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 540,
        "wires": [
            [
                "a720f9fe7456e613"
            ]
        ]
    },
    {
        "id": "a720f9fe7456e613",
        "type": "ui_text",
        "z": "d43fb467d47a24b9",
        "group": "3b02d2265a6f1332",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kondisi AI",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 540,
        "wires": []
    },
    {
        "id": "c0002a13dd1bb4a2",
        "type": "csv",
        "z": "d43fb467d47a24b9",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "timestamp,ecg,temperature,fall,status",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 330,
        "y": 760,
        "wires": [
            [
                "c7ac3d51476cf599"
            ]
        ]
    },
    {
        "id": "c7ac3d51476cf599",
        "type": "file",
        "z": "d43fb467d47a24b9",
        "name": "",
        "filename": "C:\\data_medis\\telemetry_biomedical.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 880,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "1893e53764082ff5",
        "type": "ui_button",
        "z": "d43fb467d47a24b9",
        "name": "",
        "group": "1425de3e815bcab9",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Dwonload data dalam csv",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-save",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 640,
        "wires": [
            [
                "92745179f43763ec"
            ]
        ]
    },
    {
        "id": "d5c4eedf0fe95a29",
        "type": "function",
        "z": "d43fb467d47a24b9",
        "name": "function 1",
        "func": "// Ambil list data yang sudah ada di memori, jika belum ada buat list kosong []\nlet listData = flow.get(\"data_buffer\") || [];\n\n// Masukkan data JSON terbaru dari MQTT ke dalam list\nlistData.push(msg.payload);\n\n// Simpan kembali list yang sudah bertambah ini ke memori\nflow.set(\"data_buffer\", listData);\n\n// Kita tidak perlu meneruskan msg ke output agar tidak membebani sistem\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 400,
        "wires": [
            [
                "1893e53764082ff5"
            ]
        ]
    },
    {
        "id": "92745179f43763ec",
        "type": "function",
        "z": "d43fb467d47a24b9",
        "name": "function 2",
        "func": "// Ambil seluruh rentetan data yang sudah terkumpul di memori\nlet semuaData = flow.get(\"data_buffer\") || [];\n\n// Kirim seluruh rentetan data ini ke node CSV\nmsg.payload = semuaData;\n\n// KOSONGKAN memori kembali agar setelah di-save, antrean mulai dari nol lagi\nflow.set(\"data_buffer\", []);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 660,
        "wires": [
            [
                "c0002a13dd1bb4a2"
            ]
        ]
    },
    {
        "id": "6f0ed5fb2431ccc3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1425de3e815bcab9",
        "type": "ui_group",
        "name": "Default",
        "tab": "1217e134f3ebd8a9",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2f27808e6861d9a6",
        "type": "ui_group",
        "name": "2.1 jatuh",
        "tab": "1217e134f3ebd8a9",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3b02d2265a6f1332",
        "type": "ui_group",
        "name": "Kondisi AI",
        "tab": "1217e134f3ebd8a9",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1217e134f3ebd8a9",
        "type": "ui_tab",
        "name": "Topic 2.1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1b6a65b24e8319ae",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]